<% layout('layout/boilerplate') %>
 
    <h1>Edit CampGround</h1>

    <form action="/editcampground/<%= editCampGround._id %>?_method=PUT" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= editCampGround.title %> ">
        <br>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" value="<%= editCampGround.location %> ">
        <br>
        <button type="submit">Submit</button>
    </form>
