<% layout('layout/boilerplate') %>
    <h1>New CampGround</h1>

    <form action="/newcampground/create" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <br>
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
        <br>
        <button type="submit">Submit</button>
    </form>
