<% layout('layout/boilerplate') %> 
    <h1><%= showCampGround.title %> </h1>
    <h3><%= showCampGround.location %> </h3>

    <a href="/find">All CampGrounds</a>
    <br>
    <form action="/editcampground/<%= showCampGround._id %>?_method=DELETE " method="post">
        <button>Delete</button>
    </form>
    <br>
    <a href="/editcampground/<%=showCampGround._id%>/edit">Edit CampGround</a>
